<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="https://d3jwmvy177h8cq.cloudfront.net/static/style_min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://d3jwmvy177h8cq.cloudfront.net/static/custom_v1.css" rel="stylesheet"  integrity="sha384-S3SWrs+usHy1ocpZ9Amb+XF6xq0OjJXUmMugL8KAQhbxLZ3IuyUF1lzb00t2D80j" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://d3jwmvy177h8cq.cloudfront.net/static/icon.png">
    <title>message Board</title>
</head>
<body>
<div class="container-sm">

    <!-- MENU BAR -->
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="/my" class="nav-link px-2 link-secondary">My images</a></li>
          <li><a href="/post" class="nav-link px-2 link-secondary">Post new image</a></li>
          <li><a href="https://docs.karlaru.com" class="nav-link px-2 link-primary" target="_blank">Docs</a></li>
        </ul>
        <div class="col-md-3 text-end">
          {% if not current_user.is_authenticated %}
            <a href="/login" class="btn btn-outline-success me-2">Login</a>
          {% else %}
            <a href="/acc" class="form-text text-muted">My account</a>
            <a href="/logout" onclick="google.accounts.id.disableAutoSelect();" class="btn btn-danger me-2">Logout</a>
          {% endif %}
        </div>
      </header>
    </div>

    <div class="container">

    <!-- PAGE TITLE -->
    <h3>{% block heading %}{% endblock %}</h3>

    <!-- DISPLAY FLASHED MESSAGES -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- PAGE BODY -->
    {% block body %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col col150">Thumbnail</th>
                <th class="col">Metadata</th>
            </tr>
            </thead>
            <tbody>
            {% for m in messages %}
                <tr>
                    <td>
                        <a href="/image/{{ m.img }}">
                            <img src="{{ m.thumbnail_url }}" class="thumb" id="thumbnail">
                        </a>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>DateTime:</td>
                                <td>{{ m.timestamp.split(".")[0] }}</td>
                            </tr>
                            <tr>
                                <td>Author:</td>
                                <td>{{ m.author }}</td>
                            </tr>
                            <tr>
                                <td>Location:</td>
                                <th>{{ m.location }}</th>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ m.description }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script src="https://d3jwmvy177h8cq.cloudfront.net/static/thumbnail.js" integrity="sha384-pcTyZPTuqcnXZ/+q1Ivf2YF7zT6cwNPReQLY6EqKFplI/dSGO4H+22Xzr2rp7Nqk" crossorigin="anonymous"></script>
    {% endblock %}
    </div>
</div>
</body>
</html>
