{% extends "layout.html" %}

{% block heading %} Login {% endblock %}

{% block body %}
    <h6> Google Identity</h6>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="672740708731-oudggtkgmcuagh01hfm89jnjvjb94s6r.apps.googleusercontent.com"
         data-login_uri="/login"
         data-auto_prompt="false">

    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="medium"
         data-theme="filled_blue"
         data-text="sign_in_with"
         data-shape="pill"
         data-logo_alignment="left"
         data-width=400>
    </div>
{% endblock %}
