{% extends "layout.html" %}

{% block heading %} Post new image {% endblock %}

{% block body %}
    <form action="/save" class="card p-3 bg-light" method="post" enctype="multipart/form-data">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label class="form-label input-sm">Author</label>
            <input type="text" class="form-control input-sm" id="author" name="author" placeholder="Author" value="{{ current_user.name }}">
            <small class="form-text text-muted">Default name is from Google account. Can be changed for privacy.</small>
        </div>

        <div class="mb-3">
            <label class="form-label input-sm">Location</label>
            <input type="text" class="form-control input-sm" id="location" name="location" placeholder="Location">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Image (max 50 MB)</label>
            <input class="form-control" type="file" name="img" required accept='.jpg, .jpeg, .bmp, .gif, .png'>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="5"></textarea>
        </div>

        {{ recaptcha }}

        <hr>
        <div class="mb-3">
            <input type="submit" class="btn btn-success" value="Post Picture">
        </div>

    </form>
    <script src="https://d3jwmvy177h8cq.cloudfront.net/static/form-script.js" integrity="sha384-zMbOckCiNF5+Ymqh+kk+GgpcJlejHwxEpTEpQBhywch+0Elhw7irVXV7A1OAxILB" crossorigin="anonymous"></script>
{% endblock %}
