{% extends "layout.html" %}

<!--- Sign out block --->
{% block authentication %}
    <a href="/logout" onclick="google.accounts.id.disableAutoSelect();" class="btn btn-danger">Logout</a>
    <a href="/logout?rm=true" onclick="google.accounts.id.disableAutoSelect();" class="btn btn-rnd">Delete account</a>
{% endblock %}

<!--- Form block --->
{% block form %}
    <form action="/post-message" class="card p-3 bg-light" method="post" enctype="multipart/form-data">
        <h4 class="text-success"> Enter a new message with picture</h4>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="mb-3">
            <label class="form-label input-sm">Author</label>
            <input type="text" class="form-control input-sm" name="author" value="{{ current_user.name }}" required>
            <small class="form-text text-muted">Default name is from Google account. Can be changed for privacy.</small>
        </div>

        <div class="mb-3">
            <label class="form-label input-sm">Location</label>
            <input type="text" class="form-control input-sm" name="location" placeholder="Location" required>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Image (max 100 MB)</label>
            <input class="form-control" type="file" name="img" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="description" rows="5" required></textarea>
        </div>
        {{ recaptcha }}
        <div class="mb-3" style="padding-top: 15px">
            <input type="submit" class="btn btn-success" value="Post Picture">
        </div>
    </form>
    <hr>
{% endblock %}
