{% extends "layout.html" %}

<!--- Sign in block --->
{% block authentication %}
    <h4 class="text-success">Sign-in with Google to post messages</h4>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="672740708731-oudggtkgmcuagh01hfm89jnjvjb94s6r.apps.googleusercontent.com"
         data-login_uri="/login"
         data-auto_prompt="false">

    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="filled_blue"
         data-text="sign_in_with"
         data-shape="pill"
         data-logo_alignment="left"
         data-width=400>
    </div>
    <p class="text-muted">
        We value Your privacy! Only 'ID' and 'Name' are used from Google account 'ID token'.<br>
        Account and messages can be deleted. </p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
